body {
	background: #FFFFFF;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
	overflow: auto;
}
#pagecontainer {
    margin: 0 auto;
    max-height: 100%;
    padding: 5px 0 10px;
    text-align: left;
    max-width: 900px;
	background: #fff;
	border: 0;
}
#container{
	margin: 0 0 0 8px;
    padding: 5px 15px 0px 15px;
    text-align: left;
}
#footer {
    color: #888;
    font-size: 11px;
    text-align:center;
    margin: 0;
    padding:15px 0 5px;
}
#footer a {
    color:#888;text-decoration:none;font-weight:normal;font-size:11px;
}
#header {
    margin-left: 50px;
    margin-right: 37px;
    position: relative;
    text-align: left;
    width: 791px;
    z-index: 1;
}
#pagecontent {
    margin: 0px;
	margin-top: 70px;
}
#pagecontent table{
	clear: both;
}
.pid-cnt { color: #bbb; font-family: tahoma, arial; font-size: 10px; }
.p, p { max-width:800px; }
#control_center_menu { line-height:1.5; }
#redcap-home-navbar-collapse a:hover { background-color: #e7e7e7; }
#redcap-home-navbar-collapse li.nohighlighthover a:hover { background-color: transparent; }
@media screen and (min-width: 992px) and (max-width: 1080px) {
	.nav>li.loggedInUsername { display:none; }
}